.contenier_cards{
    border: solid ;
    height: 400px;
    width: 400px;
    display:inline-block;
    justify-content:center;
    border-radius: 5px;
    margin: 10px;
   
}

.btn_card{
    border: solid;
    color: white ;
    background-color: rgb(143, 206, 62) ;
}

.btn_card:hover{
    background-color: rgb(90, 133, 33);
    border: white;
}