.contenier_cards{
    border: solid;
    height: 400px;
    width: 400px;
    display:inline-block;
    justify-content:center;
    border-radius: 5px;
    margin: 10px;
   
}

.btn_card{
    border: solid;
}